
.profile {
  display: flex;
  height: 100vh;
  width: 100vw;
  gap: 15px;
  justify-content: center;
  margin-top: 50px;
  color: white;
}

.filhos img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 50px;
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.filhos {
  height: 70%;
  width: 40%;
  background-color: rgb(109, 107, 107);
  display: flex;
  border-radius: 10px;
}

.linkPerfil {
  background-color: #5568FE;
  font-size: 30px;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
}